.landing {
    text-align: center;
    background-color: #fefcf7;
}

.container {
    border: 1px solid #000;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.recipe {
    border: 1px solid #000;
    border-radius: 5px;
    text-align: bottom;
    padding-top: 39px;
    color: #000000;
    font-weight: 800;
    background-size: cover;
}


#html {
    padding-left: 70px;
    padding-right: 70px;
    background-image: url(./images/html_hummus_dip.jpg);
}

#css {
    padding-left: 80px;
    padding-right: 80px;
    background-image: url(./images/css_caesar_salad.jpg);

}

#js {
    padding-left: 40px;
    padding-right: 40px;
    background-image: url(./images/javascript_java_chip_cookies.jpg);

}