*,
*::after,
*::before {
        box-sizing: border-box;
        }
* {
    margin: 0px;
    padding: 0px;
}

.landing {
    text-align: center;
    background-color: #fef9f7;
}

h1 {
margin: 40px 0 60px 0;
}

.title {
    background-color: #fef9f7;
    font-size: 18px;
}

.container {
    border: 1px solid #000;
    padding: 20px;
    margin-right: 20px;
}

.recipe {
    display: block;
    border: 2px solid #afa49e;
    border-radius: 5px;
    padding-top: 100px;
    color: #000000;
    font-weight: 800;
    background-size: cover;
    margin: 10px auto;
    text-align: center;
}
.recipe:hover {
    display: block;
    border: 2px solid #afa49e;
    border-radius: 10px;
    padding-top: 100px;
    color: #000000;
    font-weight: 800;
    background-size: cover;
    margin: 10px auto;
    text-align: center;
}

#html {
    padding-left: 70px;
    padding-right: 70px;
    background-image: url(./images/html_hummus_dip.jpg);
    width: 200px;
}

#css {
    padding-left: 80px;
    padding-right: 80px;
    background-image: url(./images/css_caesar_salad.jpg);
    width: 180px;
}

#js {
    padding-left: 40px;
    padding-right: 40px;
    background-image: url(./images/javascript_java_chip_cookies.jpg);
    width: 260px;
}