*,
*::after,
*::before {
        box-sizing: border-box;
        }
* {
    margin: 0px;
    padding: 0px;
}

.landing {
    background-color: #fef9f7;
}

h1 {
margin: 40px 0 60px 0;
text-align: center;
}

.title {
    background-color: #fef9f7;
    font-size: 18px;
    
}

.recipe {
    display: block;
    border: 2px solid #afa49e;
    border-radius: 5px;
    padding: 100px 0 5px;
    color: #000000;
    font-weight: 800;
    background-size: cover;
    margin: 10px auto;
    text-align: center;
    width: 350px;
}

.recipe:hover {
    display: block;
    border: 2px solid #afa49e;
    border-radius: 10px;
    padding-top: 100px;
    color: #000000;
    font-weight: 800;
    background-size: cover;
    margin: 10px auto;
    text-align: center;
}

#html {
    background-image: url(./images/html_hummus_dip.jpg);
}

#css {
    background-image: url(./images/css_caesar_salad.jpg);
}

#js {
    background-image: url(./images/javascript_java_chip_cookies.jpg);
}